# General
.DS_*
*.log
logs
**/*.backup.*
**/*.back.*
*.sublime*
psd
thumb
sketch

# Frontend
frontend/node_modules/
frontend/bower_components/
frontend/coverage/
frontend/.nyc_output/
frontend/.grunt/
frontend/build/
frontend/jspm_packages/
frontend/web_modules/
frontend/*.tsbuildinfo
frontend/.npm
frontend/.eslintcache
frontend/.rpt2_cache/
frontend/.rts2_cache_cjs/
frontend/.rts2_cache_es/
frontend/.rts2_cache_umd/
frontend/.node_repl_history
frontend/*.tgz
frontend/.yarn-integrity
frontend/.env
frontend/.env.test
frontend/.env.production
frontend/.cache
frontend/.parcel-cache
frontend/.next
frontend/out
frontend/.nuxt
frontend/dist
frontend/.vuepress/dist
frontend/.serverless/
frontend/.fusebox/
frontend/.dynamodb/
frontend/.tern-port
frontend/.vscode-test
frontend/.yarn/cache
frontend/.yarn/unplugged
frontend/.yarn/build-state.yml
frontend/.yarn/install-state.gz
frontend/.pnp.*

# Backend
backend/node_modules/
backend/bower_components/
backend/coverage/
backend/.nyc_output/
backend/.grunt/
backend/build/
backend/jspm_packages/
backend/web_modules/
backend/*.tsbuildinfo
backend/.npm
backend/.eslintcache
backend/.rpt2_cache/
backend/.rts2_cache_cjs/
backend/.rts2_cache_es/
backend/.rts2_cache_umd/
backend/.node_repl_history
backend/*.tgz
backend/.yarn-integrity
backend/.env
backend/.env.test
backend/.env.production
backend/.cache
backend/.parcel-cache
backend/.next
backend/out
backend/.nuxt
backend/dist
backend/.vuepress/dist
backend/.serverless/
backend/.fusebox/
backend/.dynamodb/
backend/.tern-port
backend/.vscode-test
backend/.yarn/cache
backend/.yarn/unplugged
backend/.yarn/build-state.yml
backend/.yarn/install-state.gz
backend/.pnp.*

# Root level
node_modules/
bower_components/
coverage/
dist/
.env
.env.*
